<?xml version="1.0" encoding="utf-8"?>
<!-- BigHero Engine：NativeActivity 直接加载 libmain.so（android.app.lib_name），无 Java 代码 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.vulkan.version"
        android:version="0x00400000"
        android:required="true" />

    <application
        android:label="BigHero Engine"
        android:hasCode="false"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize">
            <meta-data android:name="android.app.lib_name" android:value="main" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
