# 构建产物目录
build/
# 编译中间文件
*.obj
*.pdb
*.ilk
# 日志、临时文件
*.log
*.tmp
*.cache
# 可执行文件、压缩包（不上传大体积程序）
*.exe
*.zip
*.rar
*.7z
# VS编辑器本地配置
.vs/
*.vcxproj.user
# CMake缓存
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
# 系统自动生成文件
Thumbs.db
.DS_Store